<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Social Hunter</title>

    <!-- Bootstrap Core CSS -->
    <!-- {{ url_for('static', filename='mainpage.css')}} -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type= "text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/stylish-portfolio.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=SourceSansPro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->


</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div style="margin-top: 150px">
            <h1 style="text-align: center; font-size: 50pt"><strong>Social Hunter</strong></h1>
            </br>
            <form>
                <div class="form-group row">
                    <label for="email" class="col-xs-5 col-form-label" style="font-size: 18pt; text-align: right;">Email</label>
                    <div class="col-xs-3">
                    <input type="email" class="form-control" id="email" style="font-size: 18pt; height: 3vw">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-xs-5 col-form-label" style="font-size: 18pt; text-align: right;">Password</label>
                    <div class="col-xs-3">
                    <input type="password" class="form-control" id="password" style="font-size: 18pt; height: 3vw">
                    </div>
                </div>
            </form>
            <br>
            <div class="row">
                <div class="col-lg-7">
                    <a href="register.html" class="btn btn-dark btn-lg" style="float: right;">Register</a>
                </div>
                <div class="col-lg-1">
                    <a href="index.html" class="btn btn-dark btn-lg" style="float: right;"">Login</a>
                </div>
            </div>
            
        </div>
    </header>


    <!-- jQuery -->
<!--     <script src="../js/jquery.js"></script>

    Bootstrap Core JavaScript
    <script src="../js/bootstrap.min.js"></script> -->


</body>

</html>